$white: #ffffff;

$bcg_violet_header: #270c48;
$bcg_violet_footer: #200a3b;
$bcg_violet: #2c0e50;
$bcg_gradient: linear-gradient(to bottom, #ffffff, #e8d7f7);


$text_black: #090629;
$text_blue: #270c48;
$text_pink: #ca2f9d;
$text_violet: #ba1cd8;
$text_green: #1bd760;
$text_yellow: #feba5b;

$border_gray: #28144E;


$btn_gradient: linear-gradient(40deg, #8400FF, #FF5353);
$btn_shadow: 0 2px 17px 0 rgba(164, 21, 209, 0.41);

$header-height: 70px;
$footer-height: 70px;




$mobile: '(min-width: 320px) and (max-width: 767px)';
$tablet: '(min-width: 767px) and (max-width: 1024px)';
$wide: '(min-width: 1500px)';
$notMobile: '(min-width: 768px)';

